.alert {
  position: fixed;
  bottom: 25px;
  left: 0;
  right: 0;
  max-width: 340px;
  margin: auto;
  color: $white;
  will-chnage: transform, bottom;
  transition: transform 250ms cubic-bezier(.175,.8,.35,1.375), bottom 250ms cubic-bezier(.175,.8,.35,1.375);
}

.alert__hidden {
  bottom: 35px;
  transform: translate3d(0, 100%, 0);
}

.alert__msg {
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  will-chnage: visibility;
  transition: visibility 0ms;

  .alert__hidden & {
    visibility: hidden;
    transition-delay: 250ms;
  }
}

.alert__hide {
  display: block;
  opacity: .4;
  margin: auto;
  padding: 15px;
  will-chnage: opacity;
  transition: opacity 160ms ease;

  &:hover,
  &:active,
  &:focus {
    opacity: 1;
  }

  &:after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    border-radius: 40px;
    background-color: #fff;
  }
}