@import url('https://fonts.googleapis.com/css?family=Heebo:400,900');

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: $bg;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}
