@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,900');

* {
  outline: none;
}

html {
  margin: 0;
  padding: 0;
  background: $bg;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  font-size: 16px;
  cursor: default;

  -ms-touch-action: manipulation;
      touch-action: manipulation;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;

  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  background: none;
}
