@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,900');

@keyframes Loading {
  from {
    transform: scale(0.65);
  }
  to {
    transform: scale(1.0);
  }
}

* {
  outline: none;
}

html {
  margin: 0;
  padding: 0;
  background: $bg;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  font-size: 16px;
  cursor: default;

  -ms-touch-action: manipulation;
      touch-action: manipulation;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;

  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  background: none;
}

.loader {
  position: fixed;
  left: 10px;
  bottom: 10px;

  &__icon {
    display: block;
    width: 15px;
    height: 15px;
    background-color: $gray;
    border-radius: 100%;
    animation: Loading 400ms cubic-bezier(.175,.8,.35,1.375) alternate infinite;
  }
}

.no-animate,
.no-animate * {
  animation: none !important;
}