.clndr-wrap {
  overflow: hidden;
  position: fixed;
  display: block;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.clndr-container {
  &_desktop {
    overflow: scroll;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.clndr-track {
  position: relative;
  display: flex;
  width: 940px @(min-width: $tabletLandscapeUp) auto;
  max-width: @(min-width: $tabletLandscapeUp) 940px;
  justify-content: space-between;
  margin: 0 auto;
  height: auto;
  padding: 100px 25px 50vh @(min-width: $tabletLandscapeUp) 100px 0 50vh;
}

.is-today {
  color: $white;
}

.is-goodday {
  background: $green;
  color: $darkGray;
  border-radius: 50%;
}

.is-badday {
  background: $red;
  color: $darkGray;
  border-radius: 50%;
}
