.clndr-wrap {
  position: fixed;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  font-weight: 300;
}

.clndr-container {
  overflow: scroll;
  width: 100vw;
  height: 100%;
}

.clndr-track {
  display: flex;
  width: 940px @(min-width: $tabletLandscapeUp) auto;
  max-width: @(min-width: $tabletLandscapeUp) 940px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 90px 10px 0 @(min-width: $tabletLandscapeUp) 60px 0 35px;
}

.is-today {
  color: $white;
}

.is-goodday {
  background: $green;
  color: $bg;
  border-radius: 50%;
}

.is-badday {
  background: $red;
  color: $bg;
  border-radius: 50%;
}
