.footer-wrap {
  display: none @(min-width: $tabletLandscapeUp) block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vh;
  height: 80px;
  min-width: 580px;
  transform: translateX(-80px) rotate(-90deg);
  transform-origin: right top;
  z-index: 99;
  user-select: none;
}

.footer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.footer-content {
  margin-bottom: 10px;
  display: flex;
}

.logo-wrap {
  z-index: 3;
  padding: 0;
}

.logo-img {
  display: inline-block;
  vertical-align: middle;
}

.current-date {
  display: inline-block;
  padding: 0 15px;
  color: white;
}

.footer-bottom { order: 2; }

.footer-txt {
  display: inline-block;
  padding: 0 15px;
  font-size: 16px;
  line-height: 45px;
  color: $white;

  &:first-child { padding-left: 0; }

  &_link {
    padding: 0 15px;
    will-change: opacity;
    transition: opacity 160ms ease;
    cursor: pointer;

    &_current {
      cursor: default;
      pointer-events: none;
      opacity: 0.5;
    }

    .Mouse &:hover,
    &:active { opacity: 0.5; }
  }
}