.footer-wrap {
  display: none @(min-width: $tabletLandscapeUp) block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vh;
  height: 70px;
  min-width: 580px;
  transform: translateX(-70px) rotate(-90deg);
  transform-origin: right top;
}

.footer-container {
  display: flex;
  flex-direction: column;
  z-index: 999;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.footer-content {
  margin-bottom: 10px;
  display: flex;
}

.logo-wrap {
  z-index: 3;
  padding: 0;
}

.logo-img { display: block; }

.footer-bottom { order: 2; }

.footer-txt {
  display: inline-block;
  padding: 0 15px;
  font-size: 16px;
  line-height: 45px;
  color: $gray;

  &:first-child { padding-left: 0; }
  &:last-of-type { padding-right: 30px; }
}

.footer-txt_link {
  padding: 0 30px;
  will-change: color;
  transition: color 160ms ease;

  &:hover,
  &:active { color: $white; }
}

.footer-txt_italic { font-style: italic; }