.header-container {
  &_mobile {
    display: block @(min-width: $tabletLandscapeUp) none;
    position: relative;
    margin: 10px 25px;
    height: 35px;
    line-height: 35px;
    white-space: nowrap;
    border-bottom: 1px solid $gray;
    color: $gray;
  }

  &_desktop {
    display: none @(min-width: $tabletLandscapeUp) block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100px;
    padding: 15px 0 0;
    box-sizing: border-box;
    background: linear-gradient(180deg, $bg 0%, rgba(20, 20, 20, 0.25) 100%);
    color: $white;
  }
}

.row {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.column_month {
  display: block;
  width: 60px;
  line-height: 30px;
  text-align: center;
  font-weight: 700;
}

.header-logo-wrap {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.header-logo-img {
  position: relative;
  display: block;
}

.header-info {
  position: relative;
  display: inline-block;
  float: right;
}

.header-link {
  position: relative;
  display: block;
  padding: 0 10px;

  &:link,
  &:active,
  &:visited {
    color: inherit;
    text-decoration: none;
  }
}
