.header-container {
  &_mobile {
    display: block @(min-width: $tabletLandscapeUp) none;
    position: relative;
    overflow: hidden;
    line-height: 0;
    padding-bottom: 25px;
    white-space: nowrap;
    background: linear-gradient(180deg, $bg 45px, rgba(20, 20, 20, 0.0) 100%);
    z-index: 10;
  }

  &_desktop {
    display: none @(min-width: $tabletLandscapeUp) block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100px;
    padding: 20px 0 0;
    box-sizing: border-box;
    background: linear-gradient(180deg, $bg 15%, rgba(20, 20, 20, 0.0) 100%);
    color: $white;
    z-index: 10;
  }
}

.header-logo-wrap {
  display: inline-block;
}

.header-logo-img {
  display: block;
}

.header-info {
  position: absolute;
  right: 25px;
  top: 0;
}

.header-info-button {
  display: block;
  font-size: 16px;
  line-height: 15px;
  color: $white;
  line-height: 45px;
  will-change: opacity;
  transition: opacity 160ms ease;

  .Mouse &:hover,
  &:active { opacity: 0.5; }
}

.header-link_italic {
  font-style: italic;
}

.container_fixed {
  border-bottom: 1px solid $gray;
  color: $white;
  padding: 15px 25px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

.is_modal_open {
  overflow: visible;
  position: fixed;
  width: 100vw;
}
