.header-wrap {
  height: @(min-width: $tabletLandscapeUp) 100px;
}

.header-container {
  &_mobile {
    display: block @(min-width: $tabletLandscapeUp) none;
    position: relative;
    overflow: hidden;
    padding: 10px 25px;
    height: 80px;
    line-height: 35px;
    white-space: nowrap;
    background: linear-gradient(180deg, $bg 0%, rgba(20, 20, 20, 0.25) 100%);
    z-index: 10;
  }

  &_desktop {
    display: none @(min-width: $tabletLandscapeUp) block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100px;
    padding: 15px 0 0;
    box-sizing: border-box;
    background: linear-gradient(180deg, $bg 0%, rgba(20, 20, 20, 0.25) 100%);
    color: $white;
    z-index: 10;
  }
}

.header-logo-wrap {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.header-logo-img {
  position: relative;
  display: block;
}

.header-info {
  position: relative;
  display: inline-block;
  float: right;
}

.header-link {
  position: relative;
  display: block;
  padding: 0 10px;

  &:link,
  &:active {
    color: inherit;
    text-decoration: none;
  }
}

.header-link_italic {
  font-style: italic;
}

.container_fixed {
  border-bottom: 1px solid $gray;
  color: $gray;
  width: 100%;
  position: relative;
}
