.hero {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  opacity: 0;
  will-change: opacity;
  transition: opacity 400ms ease;

  &_is-active {
    opacity: 1;
  }

  &_is-disable {
    opacity: 0;
  }

  &__body {
    position: relative;
    max-width: 510px;
    font-size: 28px;
    line-height: 35px;
    text-align: center;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $bg;
      filter: blur(50px);
      z-index: -1;
    }
  }

  &__log { margin: 0 auto; }

  &__text { margin-bottom: 30px; }

  &__buttons { line-height: 0; }

  &__button {
    font-size: inherit;
    line-height: 30px;
    color: $white;
    margin: 0 25px;
    display: inline-block;
  }
}
