.privacy {
  position: fixed;
  top: 46px @(min-width: $tabletLandscapeUp) 0;
  bottom: 0;
  z-index: 97;
  width: 100%;
  right: @(min-width: $tabletLandscapeUp) 0;
  left: @(min-width: $tabletLandscapeUp) 0;
  margin-right: @(min-width: $tabletLandscapeUp) auto;
  margin-left: @(min-width: $tabletLandscapeUp) auto;
  will-change: opacity, visibility;
  color: $white;
  background-color: $bg;
  overflow-y: scroll;

  &__body {
    max-width: 600px;
    padding: 50px 25px;
    margin: auto;
    font-size: 18px;
    line-height: 25px;
  }

  &__section {
    margin-bottom: 45px;
  }

  h1 {
    font-size: 36px;
    line-height: 40px;
    font-weight: 900;
    margin: 0 0 15px;
  }

  h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 900;
    margin: 0 0 15px;
  }

}