@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.1) translateZ(0);
  }
  to {
    opacity: 1;
    transform: scale(1.0) translateZ(0);
  }
}

.row {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  &_mobile {
    width: 940px;
    position: relative;
    margin: 0;
    padding: 0 10px 50px;
    white-space: nowrap;
  }

  &_body {
    padding: 10px 0 0;
    margin-bottom: -50px;
    overflow: hidden
  }

  &_scroll {
    overflow: scroll;
  }
}

.column {
  position: relative;
  display: inline-block;
}

.column-cell {
  width: 65px;
  height: 65px;
  text-align: center;
  display: flex;
  flex-direction: column;

  &_day {
    color: $gray;
    font-size: 30px;
    line-height: 68.5px;
    margin-bottom: 10px;
    position: relative;
    will-change: color;
    transition: color 300ms cubic-bezier(.175,.8,.35,1.375);
    backface-visibility: hidden;
  }

  &.is-today { color: $white; }

  &.is-bad-day,
  &.is-good-day,
  &.is-bad-day.is-today,
  &.is-good-day.is-today { color: $bg !important; }

  & .mark {
    position: absolute;
    display: block;
    width: 65px;
    height: 65px;
    top: 0;
    left: 0;
    border-radius: 100%;
    z-index: -1;
    will-change: transform, opacity;
    transform: translateZ(0);
  }

  &.is-bad-day .mark,
  &.is-good-day .mark {
    animation: fadeIn 300ms cubic-bezier(.175,.8,.35,1.375);
  }

  &.is-bad-day .mark{ background-color: $red;  }
  &.is-good-day .mark { background-color: $green; }

  &_month {
    font-weight: 900;
    line-height: 30px;
    color: $white;
  }
}
