.row {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  &_mobile {
    width: 940px;
    position: relative;
    margin: 0;
    padding: 0 0 50px;
    white-space: nowrap;
  }

  &_body {
    padding: 15px 0 0;
    margin-bottom: -50px;
    overflow: hidden
  }

  &_scroll {
    overflow: scroll;
  }
}

.column {
  position: relative;
  display: inline-block;
}

.column-cell {
  width: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;

  &_day {
    color: $gray;
    font-size: 28px;
    line-height: 60px;
  }

  &_month {
    font-weight: 700;
    line-height: 30px;
    color: $white;
  }
}
