@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.1);
  }
  to {
    opacity: 1;
    transform: scale(1.0);
  }
}

.row {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  &_mobile {
    width: 940px;
    position: relative;
    margin: 0;
    padding: 0 10px 100px;
    white-space: nowrap;
  }

  &_body {
    padding: 10px 0 0;
    margin-bottom: -100px;
    overflow: hidden
  }

  &_scroll {
    overflow: scroll;
  }
}

.column {
  position: relative;
  display: inline-block;
}

.column-cell {
  width: 60px;
  height: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;

  &_day {
    color: $gray;
    font-size: 30px;
    line-height: 65px;
    position: relative;
    transition: color 300ms;
  }

  &.is-bad-day,
  &.is-god-day {
    color: $bg;
  }

  &.is-bad-day:before {
    content: '';
    position: absolute;
    display: block;
    background-color: $red;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    border-radius: 100%;
    z-index: -1;
    animation: fadeIn 300ms cubic-bezier(.175,.8,.35,1.375);
  }

  &.is-good-day:before {
    content: '';
    position: absolute;
    display: block;
    background-color: $green;
    width: 60px;
    height: 60px;
    top: 0;
    left: 0;
    border-radius: 100%;
    z-index: -1;
    animation: fadeIn 300ms cubic-bezier(.175,.8,.35,1.375);
  }

  &_month {
    font-weight: 900;
    line-height: 30px;
    color: $white;
  }
}
