@import url('https://fonts.googleapis.com/css?family=Heebo:400,500');

* {
  outline: none;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #141414;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  cursor: default;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  background: none;
}

.row {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.row_mobile {
    width: 940px;
    position: relative;
    margin: 0;
    padding: 0 0 50px;
    white-space: nowrap;
  }

.row_body {
    padding: 15px 0 0;
    margin-bottom: -50px;
    overflow: hidden
  }

.row_scroll {
    overflow: scroll;
  }

.column {
  position: relative;
  display: inline-block;
}

.column-cell {
  width: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.column-cell_day {
    color: #323232;
    font-size: 28px;
    line-height: 60px;
  }

.column-cell_month {
    font-weight: 700;
    line-height: 30px;
    color: #fff;
  }

.header-wrap {
}

.header-container_mobile {
    display:block;
    position: relative;
    overflow: hidden;
    padding: 10px 25px;
    height: 80px;
    line-height: 35px;
    white-space: nowrap;
    background: linear-gradient(180deg, #141414 0%, rgba(20, 20, 20, 0.25) 100%);
    z-index: 10;
  }

.header-container_desktop {
    display:none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100px;
    padding: 15px 0 0;
    box-sizing: border-box;
    background: linear-gradient(180deg, #141414 0%, rgba(20, 20, 20, 0.25) 100%);
    color: #fff;
    z-index: 10;
  }

.header-logo-wrap {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.header-logo-img {
  position: relative;
  display: block;
}

.header-info {
  position: relative;
  display: inline-block;
  float: right;
}

.header-link {
  position: relative;
  display: block;
  padding: 0 10px;
}

.header-link:link,
  .header-link:active {
    color: inherit;
    text-decoration: none;
  }

.header-link_italic {
  font-style: italic;
}

.container_fixed {
  border-bottom: 1px solid #323232;
  color: #323232;
  width: 100%;
  position: relative;
}

.footer-wrap {
  display:none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vh;
  height: 70px;
  min-width: 580px;
  transform: translateX(-70px) rotate(-90deg);
  transform-origin: right top;
}

.footer-container {
  display: flex;
  flex-direction: column;
  z-index: 999;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.footer-content {
  margin-bottom: 10px;
  display: flex;
}

.logo-wrap {
  z-index: 3;
  padding: 0;
}

.logo-img { display: block; }

.footer-bottom { order: 2; }

.footer-txt {
  display: inline-block;
  padding: 0 15px;
  font-size: 16px;
  line-height: 45px;
  color: #323232;
}

.footer-txt:first-child { padding-left: 0; }

.footer-txt:last-of-type { padding-right: 30px; }

.footer-txt_link {
    padding: 0 30px;
    will-change: color;
    transition: color 160ms ease;
  }

.footer-txt_link:hover,
    .footer-txt_link:active { color: #fff; }

.footer-txt_italic { font-style: italic; }

.alert {
  position: fixed;
  bottom: 25px;
  left: 0;
  right: 0;
  max-width: 340px;
  margin: auto;
  color: #fff;
  will-chnage: transform, bottom;
  transition: transform 250ms cubic-bezier(.175,.8,.35,1.375), bottom 250ms cubic-bezier(.175,.8,.35,1.375);
}

.alert__hidden {
  bottom: 35px;
  transform: translate3d(0, 100%, 0);
}

.alert__msg {
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  will-chnage: visibility;
  transition: visibility 0ms;
}

.alert__hidden .alert__msg {
    visibility: hidden;
    transition-delay: 250ms;
  }

.alert__hide {
  display: block;
  opacity: .4;
  margin: auto;
  padding: 15px;
  will-chnage: opacity;
  transition: opacity 160ms ease;
}

.alert__hide:hover,
  .alert__hide:active,
  .alert__hide:focus {
    opacity: 1;
  }

.alert__hide:after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    border-radius: 40px;
    background-color: #fff;
  }

.clndr-wrap {
  overflow: hidden;
  position: fixed;
  display: block;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.clndr-container_desktop {
    overflow: scroll;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.clndr-track {
  position: relative;
  display: flex;
  width:940px;
  justify-content: space-between;
  margin: 0 auto;
  height: auto;
  padding:100px 25px 50vh;
}

.is-today {
  color: #fff;
}

.is-goodday {
  background: #37b94d;
  color: #141414;
  border-radius: 50%;
}

.is-badday {
  background: #ff3b30;
  color: #141414;
  border-radius: 50%;
}

@media (min-width:991px){.header-wrap{height:100px;}}

@media (min-width:991px){.header-container_mobile{display:none;}}

@media (min-width:991px){.header-container_desktop{display:block;}}

@media (min-width:991px){.footer-wrap{display:block;}}

@media (min-width:991px){.clndr-track{width:auto;}}

@media (min-width:991px){.clndr-track{max-width:940px;}}

@media (min-width:991px){.clndr-track{padding:100px 0 50vh;}}