@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,900');

* {
  outline: none;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #141414;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  font-size: 16px;
  cursor: default;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  background: none;
}

.row {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.row_mobile {
    width: 940px;
    position: relative;
    margin: 0;
    padding: 0 25px 50px;
    white-space: nowrap;
  }

.row_body {
    padding: 15px 0 0;
    margin-bottom: -50px;
    overflow: hidden
  }

.row_scroll {
    overflow: scroll;
  }

.column {
  position: relative;
  display: inline-block;
}

.column-cell {
  width: 60px;
  height: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.column-cell_day {
    color: #323232;
    font-size: 30px;
    line-height: 65px;
  }

.column-cell_month {
    font-weight: 900;
    line-height: 30px;
    color: #fff;
  }

.header-container_mobile {
    display:block;
    position: relative;
    overflow: hidden;
    padding: 10px 0;
    height: 80px;
    line-height: 35px;
    white-space: nowrap;
    background: linear-gradient(180deg, #141414 15%, rgba(20, 20, 20, 0.0) 100%);
    z-index: 10;
  }

.header-container_desktop {
    display:none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100px;
    padding: 20px 0 0;
    box-sizing: border-box;
    background: linear-gradient(180deg, #141414 15%, rgba(20, 20, 20, 0.0) 100%);
    color: #fff;
    z-index: 10;
  }

.header-logo-wrap {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.header-logo-img {
  position: relative;
  display: block;
}

.header-info {
  position: relative;
  display: inline-block;
  float: right;
}

.header-link {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 35px;
  background-image: url("data:image/svg+xml,%3Csvg width='4' height='14' viewBox='0 0 4 14' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3Ei%3C/title%3E%3Cdesc%3ECreated using Figma%3C/desc%3E%3Cg id='Canvas' transform='translate%28-4557 168%29'%3E%3Cg id='i'%3E%3Cuse xlink:href='%23path0_fill' transform='matrix%281 -2.77556e-17 2.77556e-17 1 4544 -176%29' fill='%23FFFFFF'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cpath id='path0_fill' d='M 13.7812 12.5234L 15.5859 12.3516L 16.2188 12.9609L 15.2109 20.1797L 16.3125 20.3359L 16.1797 21L 14.3828 21.1719L 13.75 20.5625L 14.75 13.3438L 13.6484 13.1875L 13.7812 12.5234ZM 15.0547 9.98438C 15.0547 9.71354 15.1068 9.47656 15.2109 9.27344C 15.3203 9.07031 15.4505 8.96875 15.6016 8.96875C 15.8672 8.96875 16.1016 9.02344 16.3047 9.13281C 16.513 9.23698 16.6172 9.36458 16.6172 9.51562C 16.6172 9.80208 16.5625 10.0443 16.4531 10.2422C 16.3438 10.4349 16.2161 10.5312 16.0703 10.5312C 15.7839 10.5312 15.5417 10.4792 15.3438 10.375C 15.151 10.2656 15.0547 10.1354 15.0547 9.98438Z'/%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 50%;
}

.header-link:link,
  .header-link:active {
    color: inherit;
    text-decoration: none;
  }

.close_icon {
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdesc%3ECreated using Figma%3C/desc%3E%3Cg transform='translate%28-4558 -547%29'%3E%3Cg%3E%3Cuse xlink:href='%23path0_stroke' transform='translate%284559 548%29' fill='%23FFFFFF'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cpath id='path0_stroke' d='M -0.353553 0.353553L 7.14645 7.85355L 7.85355 7.14645L 0.353553 -0.353553L -0.353553 0.353553ZM 7.14645 7.85355L 14.6464 15.3536L 15.3536 14.6464L 7.85355 7.14645L 7.14645 7.85355ZM 14.6464 -0.353553L 7.14645 7.14645L 7.85355 7.85355L 15.3536 0.353553L 14.6464 -0.353553ZM 7.14645 7.14645L -0.353553 14.6464L 0.353553 15.3536L 7.85355 7.85355L 7.14645 7.14645Z'/%3E%3C/defs%3E%3C/svg%3E%0A");
}

.header-link_italic {
  font-style: italic;
}

.container_fixed {
  border-bottom: 1px solid #323232;
  color: #fff;
  padding: 0 25px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

.is_modal_open {
  overflow: visible;
}

.footer-wrap {
  display:none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vh;
  height: 70px;
  min-width: 580px;
  transform: translateX(-70px) rotate(-90deg);
  transform-origin: right top;
}

.footer-container {
  display: flex;
  flex-direction: column;
  z-index: 999;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.footer-content {
  margin-bottom: 10px;
  display: flex;
}

.logo-wrap {
  z-index: 3;
  padding: 0;
}

.logo-img { display: block; }

.footer-bottom { order: 2; }

.footer-txt {
  display: inline-block;
  padding: 0 15px;
  font-size: 16px;
  line-height: 45px;
  color: #fff;
}

.footer-txt:first-child { padding-left: 0; }

.footer-txt:last-of-type { padding-right: 30px; }

.footer-txt_link {
    padding: 0 30px;
    will-change: opacity;
    transition: opacity 160ms ease;
    cursor: pointer;
  }

.footer-txt_link:hover,
    .footer-txt_link:active { opacity: 0.5; }

.footer-txt_italic { font-style: italic; }

.alert {
  position: fixed;
  bottom: 25px;
  left: 0;
  right: 0;
  max-width: 340px;
  margin: auto;
  color: #fff;
  will-chnage: transform, bottom;
  transition: transform 250ms cubic-bezier(.175,.8,.35,1.375), bottom 250ms cubic-bezier(.175,.8,.35,1.375);
}

.alert__hidden {
  bottom: 35px;
  transform: translate3d(0, 100%, 0);
}

.alert__msg {
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  will-chnage: visibility;
  transition: visibility 0ms;
}

.alert__hidden .alert__msg {
    visibility: hidden;
    transition-delay: 250ms;
  }

.alert__hide {
  display: block;
  opacity: .4;
  margin: auto;
  padding: 15px;
  will-chnage: opacity;
  transition: opacity 160ms ease;
}

.alert__hide:hover,
  .alert__hide:active,
  .alert__hide:focus {
    opacity: 1;
  }

.alert__hide:after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    border-radius: 40px;
    background-color: #fff;
  }

.clndr-wrap {
  overflow: hidden;
  position: fixed;
  display: block;
  top: 0;
  height: 100vh;
  width: 100vw;
  font-weight: 300;
}

.clndr-container_desktop {
    overflow: scroll;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.clndr-track {
  position: relative;
  display: flex;
  width:940px;
  justify-content: space-between;
  margin: 0 auto;
  height: auto;
  padding:65px 25px 0;
}

.is-today {
  color: #fff;
}

.is-goodday {
  background: #37b94d;
  color: #141414;
  border-radius: 50%;
}

.is-badday {
  background: #ff3b30;
  color: #141414;
  border-radius: 50%;
}

.hero {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  opacity: 0;
  will-change: opacity;
  transition: opacity 400ms ease;
}

.hero_is-active {
    opacity: 1;
  }

.hero__body {
    position: relative;
    max-width: 510px;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
  }

.hero__body::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #141414;
      filter: blur(50px);
      z-index: -1;
    }

.hero__text { margin-bottom: 30px; }

.hero__buttons { line-height: 0; }

.hero__button {
    font-size: inherit;
    line-height: 30px;
    color: #fff;
    margin: 0 25px;
    display: inline-block;
  }

.info-win {
  position: fixed;
  top:46px;
  display: none;
  z-index: 10;
  height:calc(100vh - 46px);
  width:100%;
  overflow: hidden;
}

.info-container {
  background: #141414;
  height: 100%;
  justify-content: space-between;
  overflow: scroll;
}

.info-track {
}

.info-text {
  color: #888888;
  white-space: normal;
  line-height: 20px;
  padding:10px 45px 0 25px;
  margin: 0 auto;
  flex-grow:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  line-height: 25px;
}

.info-auth {
  position: relative;
  flex-grow: 1;
  margin: 60px 0;
}

.info-logo_wrap {
    display:none;
    margin-bottom: 25px;
  }

.info-logo_img {
    width: 150px;
    display: block;
    margin: 0 auto;
  }

.info-footer {
  margin-bottom: 20px;
}

.info-footer_text {
    display: inline-block;
    padding: 0 15px;
    font-size: 16px;
    line-height: 45px;
    color: #888888;
  }

.info-footer_text:last-of-type { padding-right: 30px; }

button[type=log] {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 220px;
  color: #fff;
  font-size: inherit;
  line-height: 50px;
  border: 1px solid #888888;
}

.is_open {
  display: block;
}

.is_open_flex {
  display: flex;
  flex-direction: column;
}

@media (min-width:991px){.header-container_mobile{display:none;}}

@media (min-width:991px){.header-container_desktop{display:block;}}

@media (min-width:991px){.footer-wrap{display:block;}}

@media (min-width:991px){.clndr-track{width:auto;}}

@media (min-width:991px){.clndr-track{max-width:940px;}}

@media (min-width:991px){.clndr-track{padding:60px 0 35px;}}

@media (min-width:991px){.info-win{top:0px;}}

@media (min-width:991px){.info-win{height:100%;}}

@media (min-width:991px){.info-win{width:940px;}}

@media (min-width:991px){.info-win{right:0;}}

@media (min-width:991px){.info-win{left:0;}}

@media (min-width:991px){.info-win{margin-right:auto;}}

@media (min-width:991px){.info-win{margin-left:auto;}}

@media (max-width:991px){.info-container{padding-right:1em;}}

@media (max-width:991px){.info-container{width:100%;}}

@media (min-width:991px){.info-track{display:flex;}}

@media (min-width:991px){.info-track{flex-direction:column;}}

@media (min-width:991px){.info-track{height:100%;}}

@media (min-width:991px){.info-track{justify-content:space-between;}}

@media (min-width:991px){.info-text{padding:0;}}

@media (min-width:991px){.info-text{max-width:390px;}}

@media (min-width:991px){.info-text{flex-grow:1;}}

@media (min-width:991px){.info-auth{display:none;}}

@media (min-width:991px){.info-logo_wrap{display:block;}}

@media (min-width:991px){.info-footer{display:none;}}