@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,900');

* {
  outline: none;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #141414;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  font-size: 16px;
  cursor: default;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  background: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.1);
  }
  to {
    opacity: 1;
    transform: scale(1.0);
  }
}

.row {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.row_mobile {
    width: 940px;
    position: relative;
    margin: 0;
    padding: 0 10px 100px;
    white-space: nowrap;
  }

.row_body {
    padding: 10px 0 0;
    margin-bottom: -100px;
    overflow: hidden
  }

.row_scroll {
    overflow: scroll;
  }

.column {
  position: relative;
  display: inline-block;
}

.column-cell {
  width: 65px;
  height: 65px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.column-cell_day {
    color: #323232;
    font-size: 30px;
    line-height: 68.5px;
    margin-bottom: 10px;
    position: relative;
    will-change: color;
    transition: color 300ms;
  }

.column-cell.is-today {
    color: #fff;
  }

.column-cell.is-bad-day,
  .column-cell.is-good-day,
  .column-cell.is-bad-day.is-today,
  .column-cell.is-good-day.is-today {
    color: #141414 !important;
  }

.column-cell.is-bad-day:before {
    content: '';
    position: absolute;
    display: block;
    background-color: #ff3b30;
    width: 65px;
    height: 65px;
    top: 0;
    left: 0;
    border-radius: 100%;
    z-index: -1;
    animation: fadeIn 300ms cubic-bezier(.175,.8,.35,1.375);
  }

.column-cell.is-good-day:before {
    content: '';
    position: absolute;
    display: block;
    background-color: #37b94d;
    width: 65px;
    height: 65px;
    top: 0;
    left: 0;
    border-radius: 100%;
    z-index: -1;
    animation: fadeIn 300ms cubic-bezier(.175,.8,.35,1.375);
  }

.column-cell_month {
    font-weight: 900;
    line-height: 30px;
    color: #fff;
  }

.header-container_mobile {
    display:block;
    position: relative;
    overflow: hidden;
    line-height: 0;
    padding-bottom: 25px;
    white-space: nowrap;
    background: linear-gradient(180deg, #141414 40%, rgba(20, 20, 20, 0.0) 100%);
    z-index: 10;
  }

.header-container_desktop {
    display:none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100px;
    padding: 20px 0 0;
    box-sizing: border-box;
    background: linear-gradient(180deg, #141414 15%, rgba(20, 20, 20, 0.0) 100%);
    color: #fff;
    z-index: 10;
  }

.header-logo-wrap {
  display: inline-block;
}

.header-logo-img {
  display: block;
}

.header-info {
  position: absolute;
  right: 25px;
  top: 0;
}

.header-info-button {
  display: block;
  font-size: 16px;
  line-height: 15px;
  color: #fff;
  line-height: 45px;
}

.header-info-button:link,
  .header-info-button:active {
    color: inherit;
    text-decoration: none;
  }

.header-link_italic {
  font-style: italic;
}

.container_fixed {
  border-bottom: 1px solid #323232;
  color: #fff;
  padding: 15px 25px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

.is_modal_open {
  overflow: visible;
  position: fixed;
  width: 100vw;
}

.footer-wrap {
  display:none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vh;
  height: 70px;
  min-width: 580px;
  transform: translateX(-70px) rotate(-90deg);
  transform-origin: right top;
  z-index: 10;
  user-select: none;
}

.footer-container {
  display: flex;
  flex-direction: column;
  z-index: 999;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.footer-content {
  margin-bottom: 10px;
  display: flex;
}

.logo-wrap {
  z-index: 3;
  padding: 0;
}

.logo-img {
  display: inline-block;
  vertical-align: middle;
}

.current-date {
  display: inline-block;
  padding: 0 15px;
  color: white;
}

.footer-bottom { order: 2; }

.footer-txt {
  display: inline-block;
  padding: 0 15px;
  font-size: 16px;
  line-height: 45px;
  color: #fff;
}

.footer-txt:first-child { padding-left: 0; }

.footer-txt:last-of-type { padding-right: 30px; }

.footer-txt_link {
    padding: 0 30px;
    will-change: opacity;
    transition: opacity 160ms ease;
    cursor: pointer;
  }

.footer-txt_link:hover,
    .footer-txt_link:active { opacity: 0.5; }

.footer-txt_italic { font-style: italic; }

.alert {
  position: fixed;
  bottom: 25px;
  left: 0;
  right: 0;
  max-width: 340px;
  margin: auto;
  color: #fff;
  will-chnage: transform, bottom;
  transition: transform 250ms cubic-bezier(.175,.8,.35,1.375), bottom 250ms cubic-bezier(.175,.8,.35,1.375);
}

.alert__hidden {
  bottom: 35px;
  transform: translate3d(0, 100%, 0);
}

.alert__msg {
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  will-chnage: visibility;
  transition: visibility 0ms;
}

.alert__hidden .alert__msg {
    visibility: hidden;
    transition-delay: 250ms;
  }

.alert__hide {
  display: block;
  opacity: .4;
  margin: auto;
  padding: 15px;
  will-chnage: opacity;
  transition: opacity 160ms ease;
}

.alert__hide:hover,
  .alert__hide:active,
  .alert__hide:focus {
    opacity: 1;
  }

.alert__hide:after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    border-radius: 40px;
    background-color: #fff;
  }

.clndr-wrap {
  position: fixed;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  font-weight: 300;
}

.clndr-container {
  overflow: scroll;
  width: 100%;
  height: 100%;
}

.clndr-track {
  display: flex;
  width:940px;
  justify-content: space-between;
  margin: 0 auto;
  padding:90px 10px 0;
}

.is-today {
  color: #fff;
}

.is-goodday {
  background: #37b94d;
  color: #141414;
  border-radius: 50%;
}

.is-badday {
  background: #ff3b30;
  color: #141414;
  border-radius: 50%;
}

.hero {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  opacity: 0;
  will-change: opacity;
  transition: opacity 400ms ease;
}

.hero_is-active {
    opacity: 1;
  }

.hero_is-disable {
    opacity: 0;
  }

.hero__body {
    position: relative;
    max-width: 510px;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
  }

.hero__body::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #141414;
      filter: blur(50px);
      z-index: -1;
    }

.hero__text { margin-bottom: 30px; }

.hero__buttons { line-height: 0; }

.hero__button {
    font-size: inherit;
    line-height: 30px;
    color: #fff;
    margin: 0 25px;
    display: inline-block;
  }

.info-win {
  position: fixed;
  top:46px;
  z-index: 10;
  height:calc(100% - 46px);
  width:100%;
  will-change: opacity, visibility;
}

.info-win_is-close {
  opacity: 0.01;
  visibility: hidden;
  transition: visibility 0ms 300ms, opacity 200ms;
}

.info-win_is-open {
  opacity: 1;
  visibility: visible;
  transition: opacity 300ms;
  transition-delay: 0ms
}

.info-container {
  background: #141414;
  height: 100%;
  justify-content: space-between;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.info-track {
}

.info-text {
  color: #888888;
  white-space: normal;
  line-height: 20px;
  padding:10px 45px 0 25px;
  margin: 0 auto;
  flex-grow:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  line-height: 25px;
  will-change: transform;
}

.info-win_is-close .info-text {
  transition: transform 210ms ease;
  transform: translate3d(0, 15px, 0);
}

.info-win_is-open .info-text {
  transition: transform 200ms cubic-bezier(.175,.8,.35,1.375);
  transform: translate3d(0, 0, 0);
}

.info-auth {
  position: relative;
  flex-grow: 1;
  margin: 60px 0;
}

.info-footer {
  margin-bottom: 20px;
}

.info-footer_text {
    display: inline-block;
    padding: 0 15px;
    font-size: 16px;
    line-height: 45px;
    color: #888888;
  }

.info-footer_text:last-of-type { padding-right: 30px; }

button[type=log] {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 220px;
  color: #fff;
  font-size: inherit;
  line-height: 50px;
  border: 1px solid #888888;
}

@media (min-width:991px){.header-container_mobile{display:none;}}

@media (min-width:991px){.header-container_desktop{display:block;}}

@media (min-width:991px){.footer-wrap{display:block;}}

@media (min-width:991px){.clndr-track{width:auto;}}

@media (min-width:991px){.clndr-track{max-width:940px;}}

@media (min-width:991px){.clndr-track{padding:60px 0 0;}}

@media (min-width:991px){.info-win{top:0px;}}

@media (min-width:991px){.info-win{height:100%;}}

@media (min-width:991px){.info-win{width:940px;}}

@media (min-width:991px){.info-win{right:0;}}

@media (min-width:991px){.info-win{left:0;}}

@media (min-width:991px){.info-win{margin-right:auto;}}

@media (min-width:991px){.info-win{margin-left:auto;}}

@media (max-width:991px){.info-container{padding-right:1em;}}

@media (max-width:991px){.info-container{width:100%;}}

@media (min-width:991px){.info-track{display:flex;}}

@media (min-width:991px){.info-track{flex-direction:column;}}

@media (min-width:991px){.info-track{height:100%;}}

@media (min-width:991px){.info-track{justify-content:space-between;}}

@media (min-width:991px){.info-text{padding:0;}}

@media (min-width:991px){.info-text{max-width:390px;}}

@media (min-width:991px){.info-text{flex-grow:1;}}

@media (min-width:991px){.info-auth{display:none;}}

@media (min-width:991px){.info-footer{display:none;}}